Package: me.kfur.hidevpn
Name: Hide VPN Icon
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide VPN icon from statusbar 
Maintainer: kfur
Author: kfur
Section: Tweaks
